:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
}

.container{
    background-color: rgba(0,0,0,0);
}

neon-btn {
    font-size: 1rem;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color : var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

}


.title {
    background-color: rgba(0,0,0,0);
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 70px;
}

.body{
    background-color: rgba(0,0,0,0);
}

.totalcount{
    margin-left: 50px;
}

.totalCount {
    transition: .2s ease;
    border-radius: 0.25em
}

.totalCount:hover{
     transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    box-shadow: 0 0 10px var(--clr-neon), 0 0 40px var(--clr-neon), 0 0 80px var(--clr-neon);
}

.val{
    color: white;
    background-color: #092e4f;
    font-size: 1rem;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl( 0 0% 100% / 0.5) , 0 0 0.25 currentColor;
}

.movieCalc {
    transition: .2s ease;
    background: #092e4f;
    font-size: 1rem;
    color: white;


    box-shadow: 0 0 0.5em  0 var(--clr-neon);
}

.movieCalc:hover{
    color: white;
    background-color: #092e4f;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    font-size: 1rem;
    border: currentColor 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

    text-shadow: 0 0 0.125em hsl( 0 0% 100% / 0.5) , 0 0 0.25 currentColor;
    box-shadow: 0 0 10px var(--clr-neon), 0 0 40px var(--clr-neon), 0 0 80px var(--clr-neon);

}

.center {
  margin-left: auto;
  margin-right: auto;
  color: #c5c7c9;
  font-size: 1rem;
}

bg_transparent {
    background-color: rgba(0,0,0,0);
    color: #c5c7c9;
    font-size: 1rem;
}

.total {
    text-align: center;
    margin-top: 20px;
    margin-right: 120px;
    margin-left: 120px;
    transition: .2s ease;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color : white;
    border: currentColor 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    background: var(--clr-bg);

    text-shadow: 0 0 0.125em hsl( 0 0% 100% / 0.5) , 0 0 0.25 currentColor;
    box-shadow: 0 0 0.5em  0 var(--clr-neon);


}
.total:hover{
    color: white;
    background: #255784;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    box-shadow: 0 0 10px var(--clr-neon), 0 0 40px var(--clr-neon), 0 0 80px var(--clr-neon);
}

.donut {
    margin-top: 150px;
    color: white;
    text-align: center;
}

.growHover {
    border-radius: 20px;
    transition: 0.2s ease;
}
.growHover:hover{
    transition: .2s ease;
    border: white 0.150em solid;
    color: var(--clr-bg);
    background: #092e4f;
    box-shadow: 0 0 10px var(--clr-neon), 0 0 40px var(--clr-neon), 0 0 80px var(--clr-neon);
    transform: scale(0.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);

}

.btn{
    color: white;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 0.25em
    font-size: 1rem;
    overflow: hidden;
    background: var(--clr-bg);
    transition: 0.2s ease;
}

.btn:hover{
    color: var(--clr-bg);
    background: #255784;
    box-shadow: 0 0 10px var(--clr-neon), 0 0 40px var(--clr-neon), 0 0 80px var(--clr-neon);

}
